# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/
migrations/
Production planning 2025.xlsx

# Ignore IDE settings
.idea/

# Ignore compiled files
*.pyc

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
alembic.ini

# Ignore log files
*.log

# Ignore compiled C extensions
*.so